#ignore thumbnails created by windows
Thumbs.db
delete log.bat
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dylib
*.lastbuildstate
*.tlog
*.idb
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.opensdf
*.sdf
obj/
lib/
build/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult
[Tt]est[Rr]esult.*
![Tt]est[Rr]esult.h
![Tt]est[Rr]esult.ccp
.vs


# linux libraries
*.o
*.a

# linux backup files
*~
*.kate-swp


*.cache

# Visual C++ cache files
*.VC.opendb
*.VC.db
.vscode/
.idea/

ipch/

# nuget
nuget/*
!/nuget/repositories.config

#PlatformGamersBasePlus
PlatformGamersBasePlus/PlatformGamersBasePlus/wwwroot/css/*
PlatformGamersBasePlus/PlatformGamersBasePlus/wwwroot/js/*